extends layouts/default/layout

block content
  h1= title
  p Este CRUD fue desarrollado con las siguientes tecnologias:
    ul
      li NodeJS
      li Express
      li MySQL
      li JQuery
      li Bootstrap 3
