doctype html
html(lang='es')
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/flatly.min.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    script(src='/javascripts/jquery-3.1.1.min.js')
  body
    include nav
    div(class='container', style='margin-top: 60px;')
      block content
    script(src='/bootstrap/js/bootstrap.min.js')
